* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/library.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    height: 60px;
    background-color: rgb(76, 76, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding: 0 20px;
}

.form-box {
    position: absolute;
    left: 40%;
    top: 40%;
    transform: translateY(-50%);
    width: 400px;
    padding: 30px 20px;
    background: rgba(255, 255, 255, 0.15);
    color: white;
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 5em;
    margin: 16px 0px;
}

.error-message {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 15px;
}

input[type="text"] {
    width: 90%;
    padding: 14px;
    margin: 4px 0px 4px 0px;
    border: 2px solid rgb(76, 76, 255);
    border-radius: 5px;
    background-color: transparent;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="password"] {
    width: 90%;
    padding: 14px;
    margin: 4px 0px 4px 0px;
    border: 2px solid rgb(76, 76, 255);
    border-radius: 5px;
    background-color: transparent;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input::placeholder {
    font-size: 1.2em;
    color: white;
}

input[type="password"]::placeholder {
    font-size: 1.2em;
    color: white;
}

label {
    display: block;
    text-align: left;
    margin-left: 5%;
    font-size: 1.2em;
}

.label-icon {
    height: 24px;
    width: 24px;
    margin-left: 2px;
    vertical-align: middle;
}

button {
    width: 90%;
    padding: 12px;
    margin: 10px 0px 20px 0px;
    background-color: rgb(76, 76, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    opacity: 0.9;
}

button:active {
    transform: scale(0.95);
}

@media (max-width: 900px) {
    .form-box {
        width: 90%;
        margin: 50px auto 0 auto;
        padding: 20px;
        left: 5%;
    }
    .header {
        height: 50px;
        font-size: 1.2em;
    }
}

@media (max-width: 600px) {
    .form-box {
        width: 90%;
        margin: -20px auto 0 auto;
        padding: 10px;
        left: 5%;
    }
    .header {
        height: 40px;
        font-size: 1em;
        padding: 0 5px;
    }
    body {
        font-size: 0.95em;
    }
    h1, .form-box h3 {
        font-size: 1.2em;
    }
}